body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0px;
    margin: 0px;
    background-color: #f4f4f4;
}

ul {
    margin: 0px;
    padding: 0px;   
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;   
}

header {
    background: #35424a;
    padding-bottom: -20px;
    margin-bottom: 10px;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0px 20px 0px 20px; 
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
    padding: 0px;
}

header nav {
    float: right;
    margin-top: 10px; 
    
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: dimgray;
    font-weight: bold;
}

#showcase {
    min-height: 400px;
    margin-top: -10px;
    background:url(backg.jpg)no-repeat -200px -50px;
    text-align: center;
    color: #f4f4f4;
}

#showcase h1 {
    font-size: 55px;
    margin-top: 10px;
    margin-bottom: 10px
}

#showcase p {
    font-size: 20px;
    margin-bottom: 0px;
}

#newsletter {
    padding: 15px;
    color: white;
    background-color: #35424a;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px 2px 4px 9px;
    height: 25px;
    width: 200px;
}

.button_1 {
    background-color: #e8491d;
    height: 30px;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

#boxes{
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width: 30%;
    padding: 1%;
    text-align: center; 
}

.box img {
    width: auto;
    height: 90px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #e8491d;
    text-align: center;
}

@media(max-width: 768px){
    header #branding, header nav, header nav li, #newsletter h1, #newsletter form, #boxes .box{
        float: none;
        text-align: center;
        width= 100%;
    }
    
    header{
        padding:20px;
    }
    
    #newsletter button{
        display: block;
        width: 100%;
    }
    
    #newsletter form input[type="email"]{
        margin-bottom: 5px;
        text-align: center;
    }
    
    #boxes .box{
        margin-top: 5%;
        margin-right: 5%;
        float:none;
        width: 100%;
        text-align: center; 
    }

    
     
}